@{
    ViewData["Title"]="Iniciar sesión";
    <link href="https://fonts.cdnfonts.com/css/mikado" rel="stylesheet">
}
<div class="centrarYAgrandar">
<h2>Bienvenido a PreguntadORT, por favor ingrese su nombre:</h2>
<br>
  <form action='@Url.Action("Comenzar", "Home")'>
    <div class="centrar">
    <input class="agrandar" type="text" name="Nombre" placeholder="Nombre" required>
    </div>   <br> 
    <div class="centrar">
    <input class="button-enviar" type="submit" name="Enviar">
    </div>
</form>
</div>