@{
    ViewData["Title"]="deportes";
}
<h1>Ciencia</h1>
<img src="categoria3.png">
<p>Nombre: @ViewBag.Nombre</p>
<p>Puntaje actual: @ViewBag.Puntaje</p>
<div class="tarjetaPregunta">        
    <h3>Pregunta numero 1</h3>
    <p>¿Qué es la vida?</p>
    <form action='@Url.Action("VerificarRespuesta", "Home")' method="post">
    <input class="button-preg" type="submit" value="1" name="1"> <br>
    <input class="button-preg" type="submit" value="2" name="2"> <br>
    <input class="button-preg" type="submit" value="3" name="3"> <br>
    <input class="button-preg" type="submit" value="4" name="4"> <br>
    </form>
</div>