@{
    ViewData["Title"]="Elegir Categoría";
    <link href="https://fonts.cdnfonts.com/css/mikado" rel="stylesheet">
}

<h1>¡Elegí una categoría!</h1>
<div class="TarjetaElegir">
<p>Historia</p>
<img class="imagenElegir" src="/images/historia.png">
</div>
<div class="TarjetaElegir">
<p>Deportes</p>
<img class="imagenElegir" src="/images/deportes.png">
</div>
<div class="TarjetaElegir">
<p>Arte</p>
<img class="imagenElegir" src="/images/arte.png">
</div>
<div class="TarjetaElegir">
<p>Entretenimiento</p>
<img class="imagenElegir" src="/images/entretenimiento.png">
</div>
<div class="TarjetaElegir">
<p>Geografía</p>
<img class="imagenElegir" src="/images/geografía.png">
</div>
<div class="TarjetaElegir">
<p>Ciencia</p>
<img class="imagenElegir" src="/images/ciencia.png">
</div>