@{
    ViewData["Title"]="Elegir Categoría";
    <link href="https://fonts.cdnfonts.com/css/mikado" rel="stylesheet">
}

<h1 class="index">¡Elegí una categoría!</h1>
<div class="Tarjetas">
<div class="TarjetaElegir">
<img class="imagenElegir" src="/images/historia.png">
<p>Historia</p>
</div>
<div class="TarjetaElegir">
<img class="imagenElegir" src="/images/deportes.png">
<p>Deportes</p>
</div>
<div class="TarjetaElegir">
<img class="imagenElegir" src="/images/arte.png">
<p>Arte</p>
</div>
<div class="TarjetaElegir">
<img class="imagenElegir" src="/images/entretenimiento.png">
<p>Entretenimiento</p>
</div>
<div class="TarjetaElegir">
<img class="imagenElegir" src="/images/geografía.png">
<p>Geografía</p>
</div>
<div class="TarjetaElegir">
<img class="imagenElegir" src="/images/ciencia.png">
<p>Ciencia</p>
</div>
</div>