@{
    ViewData["Title"] = "¡Fin del juego!";
    <link href="https://fonts.cdnfonts.com/css/mikado" rel="stylesheet">
}


<h1>¡Perdiste!</h1>
<div class="centrar">
<p>Sobreviviste @ViewBag.racha ronda(s)</p>
</div>
<a href="/Home/Ruleta">Ruleta</a>
<a href="/Home/RestablecerSegundoModo">Volver a jugar</a>