@{
    ViewData["Title"] = "¡PreguntadORT!";
}

<h1>PreguntadORT</h1>
<div class="centrar">
    <button class="index-button"><a href='@Url.Action("ConfigurarJuego","Home")'>Iniciar juego</a></button>
</div>
<a href='@Url.Action("Jugar", "Home")'>loll</a>
<a href='@Url.Action("Respuesta", "Home")'>loll</a>