@{
    ViewData["Title"]="PreguntadORT-Jugar";
}

<img src="">

<p>Nombre: @ViewBag.Nombre</p>
<p>Puntaje actual: @ViewBag.Puntaje</p>
<div class="tarjetaPregunta">
    <h3>Pregunta #(num)</h3>
    <form action='@Url.Action("VerificarRespuesta", "Home")'>
        <div class="Opciones">
            <div class="Titulo-form">¿Quien es Perón?</div>
            <label for="" class="opcion-1">
            <div class="dot"></div>
            <div class="text">Peron</div>
            </label>

            <label for="" class="opcion-2">
            <div class="dot"></div>
            <div class="text">Perla</div>
            </label>


            <label for="" class="opcion-3">
            <div class="dot"></div>
            <div class="text">a</div>
            </label>
        </div>
    </form>
</div>