@{
    ViewData["Title"]="Respuesta";
}

@if(ViewBag.esCorrecto) {
    <h1>¡¡¡¡¡LA RESPUESTA ES CORRECTA!!!!!</h1>
    <div class="centrar">
    <img src="/images/GatoFeliz.gif">
    </div>
}
else {
    <h1>La respuesta es incorrecta D:</h1>
    <div class="centrar">
    <img src="/images/WalterWhiteFalling.gif">
    </div>
}
<a href='@Url.Action("Jugar", "Home")'>Siguiente pregunta</a>