@{
    ViewData["Title"] = "Categoría";
}

@ViewBag.categoria
<form Action='@Url.Action("RecibirCategoria", "Home")' method="post">
    <div class="bodyruleta2">
        <div id="ruleta" class="ruleta" onclick="girar()">
        <img src="/images/RuletaMejorada.png">
        </div>
    </div>
    <input type="radio" name="Dificultad" value="1" required checked>Fácil
    <input type="radio" name="Dificultad" value="2" required>Normal
    <input type="radio" name="Dificultad" value="3" required>Difícil
</form>
