@{
    ViewData["Title"] = "Categoría";
    <link href="https://fonts.cdnfonts.com/css/mikado" rel="stylesheet">
}

@ViewBag.categoria
<form Action='@Url.Action("RecibirCategoria", "Home")' method="post">
    <div class="bodyruleta2">
        <div id="ruleta" class="ruleta" onclick="girar()">
        <img class="Ruleta" src="/images/RuletaMejorada.png">
        </div>    
    </div> 
    <div onclick="girar()">
    <img id="girar" class="girar" src="/images/girar.png" >
    </div>
</form>
<img class="PersonajeRuleta" src="/images/AcompañamientoRuleta.png">
<img class="PersonajeRuleta2" src="/images/GeografiaRuleta.png">
