@{
    ViewData["Title"] = "Categoría";
}

@ViewBag.categoria


<form Action='@Url.Action("RecibirCategoria", "Home")' method="post">
    <div class="bodyruleta2">
        <div id="ruleta" class="ruleta" onclick="girar()">
        <img src="/images/ruleta.png">
        </div>
    </div>
</form>
