@{
    ViewData["Title"] = "Tutorial";
    <link href="https://fonts.cdnfonts.com/css/mikado" rel="stylesheet">
}

<h1 class="index">Tutorial</h1>
<p class="textoTutorial">Para jugar deber치 ingresar la dificultad de juego, lo que se ver치 modificado ser치 la dificultad de las preguntas presentadas. Para el modo de juego podr치 decidir si desea jugar por pregunta o si desea jugar hasta responder incorrectamente.</p>
