* {
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;
  font-family: 'Mikado', sans-serif;
  outline: none;
}

body{
  font-family: mikado;
  background-size: cover;  
  background-color: #5d37ae;
}

main {
  margin-bottom: 60px;

  
  width: 100%;
}

h1 {
  text-align: center;
}

.index-button {
  width: 70%;
  font-size: larger;
  background-color: #ffffff00;
  color: white;
  border-radius: 5px;
  margin: 10%;
  border: 1px solid #ffffff;

}

.button-enviar{
  width: 70%;
  font-size: larger;
  background-color: #ffffff00;
  color: white;
  border-radius: 5px;
  border: 1px solid #ffffff;
}

.index-button a {
  text-decoration: none;
  color: white;

}

.centrar {
  display: flex;
  justify-content: center;

}

.centrarYAgrandar {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 30%;
  width: 50%;
  margin: -15% 0 0 -25%;
}

main a {
  margin: 3%;
}

.tarjetaPregunta {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d3d3d3;
  border-radius: 5px;
}

.button-preg {
  background-color: #ffffff;
  width: fit-content;
  margin-bottom: 100%;
  border-radius: 5px;
}

.button-preg:hover {
  background-color: #44518b2b;
}

p {
  font-size: large;
  color: white;
}

.tarjetaPregunta p {
  color: black;
}

h1 {
  font-size: 100px;
}

main a {
  text-decoration: none;
  font-size: large;
  color: white;
  font-size: larger;
  width: 100%;
}

main a:hover {
  color: white;
  font-size: larger;
}


/* RULETA 2*/
.bodyruleta2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  margin: 0;
}

.ruleta {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  will-change: transform;
}

.seccion {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform-origin: 0% 100%;
  overflow: hidden;
}

.seccion:nth-child(1) {
  transform: rotate(29deg) skewY(-30deg);
}

.seccion:nth-child(2) {
  transform: rotate(83.42deg) skewY(-30deg);
}

.seccion:nth-child(3) {
  transform: rotate(131.85deg) skewY(-30deg);
}

.seccion:nth-child(4) {
  transform: rotate(183.28deg) skewY(-30deg);
}

.seccion:nth-child(5) {
  transform: rotate(234.71deg) skewY(-30deg);
}

.seccion:nth-child(6) {
  transform: rotate(280.14deg) skewY(-30deg);
}

.seccion:nth-child(7) {
  transform: rotate(329.57deg) skewY(-30deg);
}

.icono {
  width: 50%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.boton-centro {
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 50%;
  border: 3px solid #999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}
.flecha {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  top: -30px; /* Ajusta según sea necesario */
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.seccion img{
  max-width: 100%;
  object-fit: contain;
}

.preguntas{
  width: 10%;
}

.formNombre{
  size-adjust: 50%;
}

h2{
  text-align: center;
}