

body {
  margin-bottom: 60px;
  background-color: #ffffff;
}

h1{
  text-align: center;
}


.btn-primary {
  background-color: #AAAA;
  border: #AAAA;


}

.btn-primary:active {
  background-color: #AAAA;
  box-shadow: none;
  border: none;
  
}

.btn-primary:hover {
  background-color: #AAAA;
  box-shadow: none;
}