

body {
  margin-bottom: 60px;
  background-color: #44518b;
}

h1{
  text-align: center;
}

.index-button {  
  width: 70%;
  font-size: larger;
  background-color: #ffffff00;
  border-radius: 5px;
  margin:10%;
  border: #ffffff;


}

.index-button a{
  text-decoration: none;
  color: black;
}
.centrar{
  display: flex;
  justify-content: center;
  
}
main a{
  margin: 3%;
}